<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="{{name}}" />
    <link rel="icon" type="image/png" href="{{relpath}}assets/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{relpath}}assets/favicon.svg" />
    <link rel="shortcut icon" href="{{relpath}}assets/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{relpath}}assets/apple-touch-icon.png" />
    <link rel="manifest" href="{{relpath}}assets/site.webmanifest" />
    <link rel="stylesheet" href="{{relpath}}assets/css/site.css">
    <script src="{{relpath}}assets/js/site.js"></script>
</head>
<body class="light-mode" onload="onload();">
<content>
    {% if not config.flag_show_title %}<h1><a href="{{relpath}}" title="Go to the root">{{display_name}}</a></h1>{% endif %}
    <h2>Index of {{path}}</h2>
    <table class="files">
        <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>&nbsp;</th>
            <th class="hide-on-mobile">Modified</th>
        </tr>
        </thead>
        <tbody>{% for item in items %}
            <tr>
                <td class="name"><a href="{{item.path}}" class="icon"><img src="{{item.icon}}" class="icon" title="{{item.type}}"/>{{item.name}}</a></td>
                <td class="size">{{item.size}}<a href="./{{item.path}}" class="icon"></td>
                <td class="action">{% if not item.is_file %}&nbsp;{% else %}
                <a href="./{{item.path_orig}}" class="icon" target="_blank"><img src="{{relpath}}assets/icons/download.png" class="icon" title="Download {{item.name}}"/>{% endif %}</td>
                <td class="hide-on-mobile modified">{{item.modified}}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
</content>
<footer>
    
    <div class="left">
        {% if not config.flag_hide_page_id %}ID: {{page_id}}{% endif %}
        {% if not config.flag_hide_generated_by and not config.flag_hide_page_id %}<br/>{% endif %}
        {% if not config.flag_hide_generated_by %}Generated by <a href="https://github.com/revgen/{{app_name}}">{{app_name}} v{{app_version}}</a>
        {% endif %}</div>
    <div class="right">
        <label id="toggleSwitchContainer" class="switch"></label>
    </div>
</footer>
</body>
</html>
<!-- generated on {{datetime_iso}} -->
